
.container {
  margin-top: 100px;
  min-height: 80%;
  min-width: 80%;
  margin-bottom: 30px;
  text-align: center;

}


.card {
  padding: 0;
  border-radius: 15px;
}


#typeColor{
  border-radius: 15px;
  padding: 0;
  margin: 0;
}


.card-img {
  width: 170px;
  height: 170px;
  margin-top: -6rem;
  margin-bottom: 20px;

}

.types{
  width:120px;
  padding-left: 5px;

}

.bug {
  background: rgb(196,235,83);
  background: linear-gradient(180deg, rgba(196,235,83,1) 0%, rgba(255,255,255,1) 100%);
}
.dark {
  background: rgb(58,62,120);
  background: linear-gradient(180deg, rgba(58,62,120,1) 0%, rgba(255,255,255,1) 100%);
}

.flying {
  background: rgb(7,161,224);
  background: linear-gradient(180deg, rgba(7,161,224,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 5px;
  padding-bottom: 10px;

}

.water {
  background: rgb(7,99,224);
  background: linear-gradient(180deg, rgba(7,99,224,1) 0%, rgba(255,255,255,1) 100%);
}

.normal {
  background: rgb(194,208,203);
  background: linear-gradient(180deg, rgba(194,208,203,1) 0%, rgba(255,255,255,1) 100%);
}

.fire {
  background: rgb(255,76,40);
  background: linear-gradient(180deg, rgba(255,76,40,1) 0%, rgba(255,255,255,1) 100%);
}

.grass {
  background: rgb(118,223,148);
  background: linear-gradient(180deg, rgba(118,223,148,1) 0%, rgba(255,255,255,1) 100%);
}



.poison {
  background: rgb(199,86,232);
  background: linear-gradient(180deg, rgba(199,86,232,1) 0%, rgba(255,255,255,1) 100%);
}

.fighting {
  background: rgb(255,134,118);
  background: linear-gradient(180deg, rgba(255,134,118,1) 0%, rgba(255,255,255,1) 100%);
}

.psychic {
  background: rgb(255,132,155);
  background: linear-gradient(180deg, rgba(255,132,155,1) 0%, rgba(255,255,255,1) 100%);
}

.ground {
  background: rgb(230,166,58);
  background: linear-gradient(180deg, rgba(230,166,58,1) 0%, rgba(255,255,255,1) 100%);
}

.electric {
  background: rgb(255,216,53);
  background: linear-gradient(180deg, rgba(255,216,53,1) 0%, rgba(255,255,255,1) 100%);
}
