<div class="loader" *ngIf="!load"></div>

<div class="container" *ngIf="pokemon && pokemonInfo">

  <div class="row">
    <div class="card animate__animated animate__fadeInUp">
      <div class="col"
      id="typeColor"
      [ngClass]="listType[0]">
        <img [src]="pokemon.sprites.other?.['official-artwork']?.front_default" class="card-img" alt="...">
      </div>
      <h1> {{pokemon.name | uppercase }} </h1>

      <div class="aling-center">
        <img *ngFor="let type of listType"
        [src]="ruteImage+type+'.png'"
        [alt]="type" class="types">
      </div>

      <p class="mt-3"> {{description}} </p>


      <app-bar-stadisticts [listStats]="listStats" [title]="title" ></app-bar-stadisticts>

      <div>
        <h2>Sprites</h2>
        <img [src]="pokemon.sprites.front_default" alt="">
        <img [src]="pokemon.sprites.back_default" alt="">
        <img [src]="pokemon.sprites.back_shiny" alt="">
        <img [src]="pokemon.sprites.front_shiny" alt="">
      </div>
    </div>
  </div>
</div>
