<div class="container">
  <div class="row">

    <div class="col-sm-4 mt-3 text-center"
    *ngFor="let pok of listPok;let i = index">
      <div class="card animate__animated animate__fadeIn animate__bounce"

      (click)="search(pokemonNum[i])"
      >
        <img [src]="imageUrl+pokemonNum[i]+'.png'" class="card-img-top" alt="...">
        <h5 class="card-title">#{{ pokemonNum[i] }}</h5>
        <div class="card-body">
          {{pok.name | titlecase}}
        </div>
      </div>
    </div>

    <div class="container  text-center mt-2">
            <ul class="pagination  justify-content-md-center">
              <li class="page-item mr-3"><a class="page-link" (click)="pagintation(-1)">Previous</a></li>
              <li class="page-item mt-2" *ngFor="let index of indexPage" routerLinkActive="active" [id]="index"
              [ngClass]=" {'active': index == flag }" >
                <a class="page-link" (click)="navigate(index)"> {{index + 1}} </a>
              </li>
              <li class="page-item"><button class="page-link"(click)="pagintation(1)">Next</button></li>
            </ul>
    </div>

  </div>
</div>
